<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Main Menu -->
    <menuitem id="menu_data_seeder_root"
              name="Data Seeder"
              sequence="100"
              web_icon="odoo_data_seeder,static/description/icon.png"/>

    <!-- Generate Data Menu (First) -->
    <menuitem id="menu_data_seeder_generate"
              name="Generate Data"
              parent="menu_data_seeder_root"
              action="action_data_seeder_wizard"
              sequence="20"/>

    <!-- Generation History Menu (Second) -->
    <menuitem id="menu_data_seeder_runs"
              name="Generation History"
              parent="menu_data_seeder_root"
              action="action_data_seeder_run"
              sequence="10"/>

</odoo>
